section {
  width: 680px;
  height: 360px;
  border: 1px solid black;
  border-radius: 8px;
}

h2 {
  text-align: center;
}

div {
  margin: 8px 0;
}

label {
  color: gray;
  width: 100px;
  display: inline-block;
  padding: 0 10px;
}