section {
  height: 48px;
  border: 5px solid;
  border-radius: 6px;
  margin: 10px;
  background-color: #B4C0B0;
  color: #1f271f;
  font-size: 42px;
  padding: 4px 6px;
  text-align: right;
  font-family: 'digital-7-mono-italic';

  border-color: #185669 #8ce7ee #8ce7ee #185669;
}
