<section class="ctrl-panel">
  
  <div class="row">
    <app-power-button></app-power-button>
    <app-memory-operator-button text="M+"></app-memory-operator-button>
    <app-memory-operator-button text="M-"></app-memory-operator-button>
    <app-memory-recall-button title="Memroy Recall"></app-memory-recall-button>
    <app-backspace-button></app-backspace-button>
  </div>

  <div class="row">
    <app-unary-operator-button text="%"></app-unary-operator-button>
    <ng-container *ngFor="let num of [7, 8, 9]">
      <app-number-button [text]="num.toString()"></app-number-button>
    </ng-container>
    <app-binary-operator-button text="÷"></app-binary-operator-button>
  </div>

  <div class="row">
    <app-unary-operator-button text="±"></app-unary-operator-button>
    <ng-container *ngFor="let num of [4, 5, 6]">
      <app-number-button [text]="num.toString()"></app-number-button>
    </ng-container>
    <app-binary-operator-button text="×"></app-binary-operator-button>
  </div>

  <div class="row">
    <app-reset-button text="C"></app-reset-button>
    <ng-container *ngFor="let num of [1, 2, 3]">
      <app-number-button [text]="num.toString()"></app-number-button>
    </ng-container>
    <app-binary-operator-button text="-"></app-binary-operator-button>
  </div>

  <div class="row">
    <app-reset-button text="CE"></app-reset-button>
    <ng-container *ngFor="let num of [0]">
      <app-number-button [text]="num.toString()"></app-number-button>
    </ng-container>
    <app-point-button></app-point-button>
    <app-equal-button></app-equal-button>
    <app-binary-operator-button text="+"></app-binary-operator-button>
  </div>
</section>